<!DOCTYPE html>
<html>

<head>
  <%- include('head', {dev: dev, jsScript: 'login'}); %>
</head>

<body>
  <main class="container">
    <div class="login-btn-container">
      <button
        class="login-spotify-btn mdl-color--green-A400	mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      >
        Login to spotify
      </button>

      <button
        class="login-lastfm-btn .mdl-color--red-A700 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      >
        Login to LAST.FM
      </button>
    </div>
  </main>
</body>

</html>