<!DOCTYPE html>
<html>

<%- include('header', {css: 'save'}); %>
<div class="save-form-container">
  <div class="mdl-card mdl-shadow--2dp grow summary-card">
    <div class="row">
      <div
        class="playlist-card mdl-card selected dont-shrink mdl"
        style="--playlist-img: url(<%- state.statePlaylist.image || `${cdn}assets/empty-playlist.jpg` %>)"
      >
        <div class="mdl-card__title mdl-card--expand">
        </div>
      </div>
      <div class="stats">
      </div>
      <div class="column save-action">
        <span class="material-icons save-playlist-icon">
          playlist_add
        </span>
        <div>Save Playlist</div>
      </div>
    </div>
  </div>


  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--hide-phone mdl-cell--1-col-tablet mdl-cell--2-col  filler"></div>

    <div
      class="mdl-card mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--8-col mdl-shadow--2dp grow song-list-card"
    >
      <ul class="song-list mdl-list">

      </ul>
    </div>
    <div class="mdl-cell mdl-cell--hide-phone mdl-cell--1-col-tablet mdl-cell--2-col  filler"></div>

  </div>
</div>
<dialog class="mdl-dialog save-dialog">
  <div class="column center-child">
    <div>
      <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active ${extraCss}"></div>
    </div>
  </div>
</dialog>
<%- include('footer', {}) %>