@import "color-defs.scss";
@import "core.scss";

.save-form-container {

  width: 100%;
  position: relative;
  .mdl-spinner {
      margin-top: 3rem;
  }

}

.mdl-card.summary-card {
  --cube-width: 15rem;
  margin-top: 2%;
  position: relative;
  left: calc(50% - (var(--cube-width) * 1.5)) ;
  width: calc(var(--cube-width) * 3 + 2rem);
  height: var(--cube-width);
  min-height: var(--cube-width);

  > :not(:first-child) {
    margin-left: 1rem;
  }

  @media screen and (max-width: 800px) {
    --cube-width: 11rem !important;
    width: calc(var(--cube-width) * 2 + 1rem);
    left: calc(50% - var(--cube-width)) ;
    font-size: 0.75rem;

    .playlist-card {
      display: none !important;
    }
  }

  > div {
    display: flex;
    justify-content: space-between;
  }

  .playlist-card {
    width: var(--cube-width);
    height: var(--cube-width);
  }

  .save-action {
    width: var(--cube-width);
    align-items: center;
    color: $palette-grey-400;
    font-size: 2em;
    cursor: not-allowed;
    padding: 1rem 0;
    height: var(--cube-width);
    transition: text-shadow .3s ease-in;
    transition: color .7s ease-in;

    &.active {
      color: $palette-pink-400;
      cursor: pointer;
      &:hover {
        text-shadow:0px 0px 10px $palette-pink-400;
      }  
    }
  
    .save-playlist-icon {
      flex-grow: 1;
      font-size: calc(var(--cube-width) - 1rem);
      margin-top: -3rem;
    }
  }
  
  .stats {
    width: var(--cube-width);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    line-height: 4em;
    text-align: center;
    padding: 0px 5px;

    .stats-name {
      flex-grow: 1;
      font-size: 2em;
    }

    .stats-count {
      flex-grow: 1;
      font-size: 2.5em;
    }
  }
}

.mdl-card.song-list-card {
  transition: height 2s;
}

.mdl-spinner {
  width: 84px !important;
  height: 84px !important;
  align-self: center;
}

.mdl-spinner__circle {
  border-width: 9px !important;
}


.playlist-track {
  padding: 12px 10px;
  > :not(:first-child) {
    padding-left: 10px;
  }

  $album-image-size: 50px;
  .playlist-track--album-image  {
    width: $album-image-size;
    height: $album-image-size;
  }

  .playlist-track--name {
    font-size: 1.15rem;
    font-family: inherit;
  }
  
  .playlist-track--listen-count {
    font-size: 1rem;
    color: rgba(0,0,0,.54);
  }  
}

.filter-btn {
  cursor: pointer;
  .valid-icon {
    color: $palette-green-400 !important;
  }
  align-self: center;
}

.save-dialog {
  width: 30%;
  min-width: 300px;
}